@charset "utf-8";

.sibling-fade { visibility: hidden; }
.sibling-fade > * { visibility: visible; }
.sibling-fade > * { transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms; }
.sibling-fade:hover > * { opacity: 0.4; transform: scale(0.9); }
.sibling-fade > *:hover { opacity: 1; transform: scale(1.2); transition-delay: 0ms, 0ms; }
html { display: flex; height: 100%; }
body { 
  background: linear-gradient(grey, white); /* 背景渐变 */
  padding: 10px;
  max-width: 40em;
  margin: auto;
}

#grad1 {
    height: 200px;
    background: -webkit-linear-gradient(red, blue); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(red, blue); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(red, blue); /* Firefox 3.6 - 15 */
    background: linear-gradient(red, blue); /* 标准的语法（必须放在最后） */
}

div{margin:30px 0} /* 中部间隔，高30,宽0 */

.sibling-fade {
  display: flex;
  flex-wrap: wrap;

}
.sibling-fade > * {
  background: white;   /* div背景颜色 */
  padding: 3em;
  flex: auto;
  margin: 0.3em;
  text-align: center;
  color: #ffffff;
  font-size: 1.5em;
  text-decoration: none;
  border-radius:60px;   /* div内部边缘弧度 */
  box-shadow: 10px 10px 5px #888888;   /* div内部元素阴影 */
  background: linear-gradient(white, grey); /* div内部元素背景 标准的语法（必须放在最后） */
}

.imgStyle
{
  opacity:0.4;   /* 图片透明度，值越小越透明 */
  filter:alpha(opacity=40); /* 针对 IE8 以及更早的版本 */
}

.circle > * {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
/* -- コントロールコンポーネント end -- */
